@import "../../palette";

.cohort-list {
  height: 100%;
  padding: 20px 20px;
  // overflow: scroll;

  &__title {
    text-align: center;
    padding-bottom: 20px;
  }

  &__item {
    border-bottom: 2px solid $primary-color;
    padding: 15px 5px 5px 10px;
    font-weight: bold;
    margin-left: 10px;

    &:hover {
      color: $primary-color;
      scale: 1.05;
    }
  }
}

.selected {
  color: $primary-color;
}
