@import "../../palette";

.student-details-note {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin-top: 25px;
  padding: 20px;
  border-top: 2px solid $primary-color;

  &__title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $primary-color;
    padding-bottom: 10px;
  }

  &__item {
    text-align: left;
    span {
      font-weight: bold;
    }
  }

  &__form {
    padding: 20px;
    fieldset {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 10px;
      margin-top: 10px;
      padding: 20px;
      border: 2px solid $primary-color;
    }

    legend {
      font-weight: bold;
      padding-left: 10px;
    }
    label {
      justify-self: end;
      padding-right: 10px;
      text-align: left;
    }
    input {
      width: auto;
    }

    button {
      margin-top: 10px;
      grid-column: span 2;
      place-self: center;
      width: 100px;
    }
  }
}
