@import "../../palette";

.student-details-item {
  display: grid;
  grid-template-columns: 1fr;

  &__title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  &__field {
    padding-top: 5px;
    span {
      color: $primary-color;
    }
  }
}
