// src/components/StudentList/studentList.scss

@import "../../../styles/colors";

.student-list {
  grid-area: student-list;
  background-color: white;
  //   border: black solid 2px;
  padding: 20px;

  h3 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
  span {
    color: $primary;
  }
  &__item {
    margin-top: 5%;
  }

  &__item li {
    border: 3px solid $primary;
    border-radius: 10px;
    padding: 30px;
    margin-top: 2%;
  }
}
